<html lang='en'>
<head>
  <meta charset='utf-8'>
  <link rel='stylesheet' href='../static/style.css'>
  <script src='../static/client.js'></script>
</head>
<body>
<div>
  <div class='center'>
    <div class='title'><mark>Classify 4 Pokemon Images 
T̴͕͚̩͕̭o̯͙̳̺͕̹͎ ̜̦̗͍̫̩͚i͚͉̣̩ń͓͓͔v̜͇͇͇òk͎͎̖̣e̷̥̳ ͚͎̦t̺͎͎̟͉̩h̢̤̩͍̞e͝ ͎̯̻̣̮h͕̦̦i̯̘̗̪v̶̤̗̻̳̭e̼̟̮̳-͚m͇̘̖̖͠ͅi̝͉̜̙nd͙̪̙̲̬̫̘ ̗̭̻r̷͕͈̦e̡͍̘̝̺pr̭̗͇e͕̞͍̤̹̩͇s̬̘͉͜e̸̤͕n͖̠̟͇̫̬͝ṱ͖̮͈̪̭i̬̭͓̫n̴̪̹̼̼̭g ͉̹̩̬c̮̲͕͕̰̩̯h͎a̯̠͕̤̝̖o̮̫͚̜̥͉̩s̡͓͕.̺̼̳̟̫͓͔
̳̥I̻̩̜͚͓̹̲n͞v̧̦̭̮ͅo̪͈k͕̫̮i̶͓͕n͔͙͇͈̣g̴͓ ̠͚̯̼̦ͅt̳̲h̘̫̼ͅe ̦̱͙̭̗f̫͔̹̠͕̪̀e͟e̺l̤̱͎̲͔i̴̥͇̗̠ń̟͇͇̖̹͖̳g͉̲͕̱̻ ̣̯̘̲͍̪o̗͉͎̬͘f͇̜̞̹͙̯͖ ͔͔̜̬̖͈c͙͍͕̰̳̻͇h̥̦̠̲̝͈̯a̜̙̥̳̮o̹̪ș̷̝̟̟̤͇̠.̶̟̪̲͙͕
́W̕i̭̫t̬̞̜͕̟̩ͅh̤̥͇̩ ̢͓͙̙̰̜o͠u̠̼̺̟̺̜t͎̰͢ ̶̭͙o̸̮͈̝r̭̬͈͙̪d̳̟̮͍̪e̬̠̺̝͓̯͉ŕ̥̝.̤̥̹̠͍̼̲͟
҉T͡h̦̻e̯̯͈̯̰ ҉̭̼͈̫̭͕Ṋe̫͚z̪̪̗̙͍p̫͕͎̪e̗̤r̞͕̣̠̹d̦̩̖͝i҉̞͎a͕̜̞͕n̦ ̭̣͕͙̱ͅh̖̮̻̮̰̳͉͜iv̻̲̳̲͖̼e-͙͙̜̖ͅm͉̻͕͍̕ͅi̳̺͇͓̭͜ņ̬̜̞͍̪̳ͅd҉̤ ̴̳͙̝̭̙̫of̣͔͓̬̼̤ ̦c̝͔h̛̺̩͙a̻̞o͏͇̺͕̜̘̰ͅs̢̰̘̯̯.̨̻̤͇̹̤̭ ̳͔̘̻̞͇Z̲̜a҉̗͉͇̯͔ļ̙̹̣̟̗͍g̭̹̦̖̤͝o̬̮͝.̰̣̦̻
̗H͕̻̗̞͡e̗̮ wh͏̞ͅo̱̼̻̭͞ ̺̠̞̖̘̺̭Wà̭̱͕̝͈̜its̞̮̣̥̖ ̢̜B͝e͏͇̬̙̱̥̪h̵i̬̲̜̘͍͈̕n̻͇̜͢d͏ ͏͇̞͚͖̥͚T͏̥̝̬̻h̲̣͟e̬̝ ̦̘̝̜̳̠̥W̲͝a̮̣͙̗̮̙l̼̫̲̤̘͇̫͘l̴̺̱̹̟͕̮.̧</div></mark>
    <p>
      Use images of <mark><strong>pikachu</strong>, <strong>charmander</strong>, <strong>squirtle</strong>, <strong>bulbasaur</strong> or
      all four!</mark>
    </p>
    <div class='content'>
      <div class='no-display'>
        <input id='file-input'
               class='no-display'
               type='file'
               name='file'
               accept='image/*'
               onchange='showPicked(this)'>
      </div id="drop_area">
      <form class="my_form">
        <input type="file" id="fileElem" multiple accept="image/*" onchange="handleFiles(this.files)">
        <button class='choose-file-button' type='button' onclick='showPicker()'>Select or Drop Image Files</button>
      </form>
        <div class='upload-label'>
        <label id='upload-label'>No file chosen</label>
      </div>
      <div>
        <img id='image-picked' class='no-display' alt='Chosen Image' height='200'>
      </div>
      <div class='analyze'>
        <button id='analyze-button' class='analyze-button' type='button' onclick='analyze()'>Analyze</button>
      </div>
      <div class='result-label'>
        <label id='result-label'></label>
      </div>
    </div>
  </div>
</div>
</body>
</html>
